sounds/GLaDOS_13_part1_endnag-7.wav
sounds/GLaDOS_13_part1_endnag-8.wav
sounds/GLaDOS_15_part1_partyfinalstop-1.wav
sounds/GLaDOS_15_part1_partyreminder-1.wav
sounds/GLaDOS_epilogue07.wav
sounds/GLaDOS_epilogue28.wav
sounds/GLaDOS_escape_00_part1_nag06-1.wav
sounds/GLaDOS_escape_00_part1_nag14-1.wav
sounds/GLaDOS_escape_01_death_nag01-1.wav
sounds/GLaDOS_escape_01_first_hit_nag01-1.wav
sounds/GLaDOS_escape_01_first_hit_nag03-1.wav
sounds/GLaDOS_escape_01_part1_nag03-1.wav
sounds/GLaDOS_escape_01_part1_nag04-1.wav
sounds/GLaDOS_escape_01_part1_nag12-1.wav
sounds/GLaDOS_escape_01_second_hit_nag01-1.wav
sounds/GLaDOS_escape_01_second_hit_nag02-1.wav
sounds/GLaDOS_escape_02_miscbabble-01.wav
sounds/GLaDOS_escape_02_miscbabble-02.wav
sounds/GLaDOS_escape_02_miscbabble-09.wav
sounds/GLaDOS_escape_02_spheredestroy1-ancillary1.wav
sounds/GLaDOS_escape_02_spheredestroy1-ancillary2.wav
sounds/GLaDOS_escape_02_spheredestroy2-00.wav
sounds/GLaDOS_escape_02_spheredestroy4-01.wav
sounds/GLaDOS_escape_02_spherenag1-11.wav
sounds/GLaDOS_escape_02_spherenag1-12.wav
sounds/GLaDOS_evilagainsamples01.wav
sounds/GLaDOS_evilagainsamples03.wav
sounds/GLaDOS_evilagainsamples04.wav
sounds/GLaDOS_evilagainsamples05.wav
sounds/GLaDOS_fgbwheatleyentrance10.wav
sounds/GLaDOS_File_deleted.wav
sounds/GLaDOS_gladosbattle_pre13.wav
sounds/GLaDOS_gladosbattle_pre14.wav
sounds/GLaDOS_gladosbattle_pre16.wav
sounds/GLaDOS_gladosbattle_pre18.wav
sounds/GLaDOS_gladosbattle_xfer03.wav
sounds/GLaDOS_jailbreak02.wav
sounds/GLaDOS_jailbreak04.wav
sounds/GLaDOS_jailbreak05.wav
sounds/GLaDOS_jailbreak06.wav
sounds/GLaDOS_jailbreak11.wav
sounds/GLaDOS_jailbreak12.wav
sounds/GLaDOS_jailbreak13.wav
sounds/GLaDOS_lift_interlude01.wav
sounds/GLaDOS_post_escape_bridge_02.wav
sounds/GLaDOS_post_escape_bridge_05.wav
sounds/GLaDOS_post_escape_bridge_07.wav
sounds/GLaDOS_post_escape_bridge_08.wav
sounds/GLaDOS_post_escape_bridge_09.wav
sounds/GLaDOS_potatos_cooprobotintro02.wav
sounds/GLaDOS_potatos_lonely02.wav
sounds/GLaDOS_potatos_meetup02.wav
sounds/GLaDOS_potatos_meetup03.wav
sounds/GLaDOS_potatos_meetup04.wav
sounds/GLaDOS_potatos_meetup05.wav
sounds/GLaDOS_potatos_meetup06.wav
sounds/GLaDOS_potatos_meetup07.wav
sounds/GLaDOS_potatos_meetup08.wav
sounds/GLaDOS_potatos_meetup11.wav
sounds/GLaDOS_potatos_postpickup05.wav
sounds/GLaDOS_potatos_recaptureleadin01.wav
sounds/GLaDOS_potatos_sp_a3_transition_lonely01.wav
sounds/GLaDOS_prehub04.wav
sounds/GLaDOS_prehub14.wav
sounds/GLaDOS_prehub15.wav
sounds/GLaDOS_prehub16.wav
sounds/GLaDOS_prehub24.wav
sounds/GLaDOS_prehub26.wav
sounds/GLaDOS_prehub27.wav
sounds/GLaDOS_prehub28.wav
sounds/GLaDOS_prehub29.wav
sounds/GLaDOS_prehub30.wav
sounds/GLaDOS_prehub32.wav
sounds/GLaDOS_prehub34.wav
sounds/GLaDOS_prehub35.wav
sounds/GLaDOS_prehub36.wav
sounds/GLaDOS_prehub47.wav
sounds/GLaDOS_prehub48.wav
sounds/GLaDOS_prehub55.wav
sounds/GLaDOS_prehub56.wav
sounds/GLaDOS_sp_a1_wakeup_incinerator02.wav
sounds/GLaDOS_sp_a2_bridge_the_gap02.wav
sounds/GLaDOS_sp_a2_pit_flings01.wav
sounds/GLaDOS_sp_box_over_goo01.wav
sounds/GLaDOS_sp_box_over_goo04.wav
sounds/GLaDOS_sp_bridge_intro_completion02.wav
sounds/GLaDOS_sp_bridge_intro_completion03.wav
sounds/GLaDOS_sp_bridge_intro_completion04.wav
sounds/GLaDOS_sp_column_blocker_entry01.wav
sounds/GLaDOS_sp_hole_in_the_sky_completion01.wav
sounds/GLaDOS_sp_hole_in_the_sky_completion02.wav
sounds/GLaDOS_sp_hole_in_the_sky_entry01.wav
sounds/GLaDOS_sp_hole_in_the_sky_entry02.wav
sounds/GLaDOS_sp_incinerator_01_11.wav
sounds/GLaDOS_sp_incinerator_01_15.wav
sounds/GLaDOS_sp_laser_powered_lift_completion01.wav
sounds/GLaDOS_sp_laser_powered_lift_entry01.wav
sounds/GLaDOS_sp_laserfield_intro01.wav
sounds/GLaDOS_sp_paint_jump_redirect_bomb_completion01.wav
sounds/GLaDOS_sp_paint_jump_redirect_bomb_entry01.wav
sounds/GLaDOS_sp_paint_jump_trampoline_completion01.wav
sounds/GLaDOS_sp_paint_jump_trampoline_entry01.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish01.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish03.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish04.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish05.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish06.wav
sounds/GLaDOS_sp_sabotage_glados_gibberish07.wav
sounds/GLaDOS_sp_shoot_through_wall_completion01.wav
sounds/GLaDOS_sp_shoot_through_wall_entry01.wav
sounds/GLaDOS_sp_sphere_2nd_encounter_completion01.wav
sounds/GLaDOS_sp_sphere_2nd_encounter_entry01.wav
sounds/GLaDOS_sp_sphere_2nd_encounter_malfunction01.wav
sounds/GLaDOS_sp_sphere_2nd_encounter_malfunction02.wav
sounds/GLaDOS_sp_trust_fling_sphereinterrupt03.wav
sounds/GLaDOS_sp_turret_intro_entry01.wav
sounds/GLaDOS_sp_turret_islands01.wav
sounds/GLaDOS_sp_turret_islands02.wav
sounds/GLaDOS_sp_unassisted_angle_fling_entry01.wav
sounds/GLaDOS_testchambermisc02.wav
sounds/GLaDOS_testchambermisc15.wav
sounds/GLaDOS_testchambermisc16.wav
test_cut_sounds/00000GLaDOS_prehub36.wav
test_cut_sounds/GLaDOS_prehub36-0.wav
test_cut_sounds/GLaDOS_prehub36-1.wav
test_cut_sounds/GLaDOS_prehub36-2.wav
test_cut_sounds/GLaDOS_prehub36-3.wav
test_output/00000.wav
test_sounds/GLaDOS_prehub36.wav
1.py
install.sh
out.zip
.vscode/settings.json
